---
layout: default
---

<article>
  <div class="post">

  				<p>From September to October 2015 I was the recipient of a Gasworks Fellowship residency with Britto Arts Trust, Dhaka, Bangladesh.</p>

          <p>As part of my work I began a series of ‘Listening Groups’ with the intent of encouraging philosophical and personal discourses around sound and music - both in a Fine Arts context and where they intermingle with ‘popular music’.</p>

          <p>Unfortunately, following several acts of violence and security advice we received, I left Bangladesh early. Rather than give up on the listening groups completely I concluded my work remotely utilising Facebook.</p>

          <p>There are impracticalities with this kind of social network, not least it is mostly a closed system. I have transferred the content here then to act as a public archive and to facilitate greater sharing amongst any who wish to do so.</p>

  				</div>
<div style="clear: both;"></div>
</article>
