<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <style type="text/css" media="screen">
  header {
  	margin: 50px 0 15px 50px;
  	line-height: 20px;
  	}

  nav {
  	margin: 0 0 25px 50px;
  	font: 14px "Anonymous Pro", "Courier New", Courier, monospace;
  	font-weight: 700; }

  .post {
  	width: 660px;
  	float: right;
  	}
  		body {
  			background: #fff; }

  		.post p, .chat {
  			color: #555; }

  		#description a, #description a:link, #description a:visited, nav ul li a, nav ul li a:link, nav ul li a:visited, .article_details:hover .tags a, .article_details:hover .tags a:link, .article_details:hover .tags a:visited, .article_details:hover .notes a, .article_details:hover .notes a:link, .article_details:hover .notes a:visited, .post:hover a, .post:hover a:link, .post:hover a:visited, .post:hover .link_title, .post:hover .link_title:link, .post:hover .link_title:visited, #pages:hover ul li a, #pages:hover ul li a:link, #pages:hover ul li a:visited, #pages ul li a:hover, #notes:hover .notes .note .action a, #notes:hover .notes .note .action a:link, #notes:hover .notes .note .action a:visited, footer:hover a.attribution, footer:hover a.attribution:link, footer:hover a.attribution:visited, .article_details:hover .disqus_comment_link a, .article_details:hover .disqus_comment_link a:link, .article_details:hover .disqus_comment_link a:visited { color: #cc0000; }

  		#content article .article_details .notes a:hover, .article_details:hover .tags a:hover, #container footer a.attribution:hover, .article_details:hover .disqus_comment_link a:hover { color: #cc0000; border-bottom: 1px dotted #cc0000; }
  			#content article .post a:hover, #notes:hover .notes .note .action a:hover { color: #cc0000; }

  		#content #pages ul li a:hover, #content #pages ul li a#older:hover, #content #pages ul li a#newer:hover { color: #cc0000; border-bottom: 5px solid #cc0000; }

  		header h1 a { color: #000; }

  		#description { color: #777; }

             #disqus_thread { width: 500px; padding: 0 0 75px 0; margin: 0 0 0 210px;  }
  </style>
</head>
