<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="container">
    {% include header.html %}

    <div id="content">
        {{ content }}
    </div>

  </div>
  </body>

</html>
